<!DOCTYPE html>
<html>
<head>
<style>
    body{
      background-image: url("C:\Users\Administrator\Documents\GitHub\face-recognition\templates\bg.jpg");
      background-size: cover;
    }
    .heading{
      font-style:italic;
      font-weight:bold;
      font-family: "Times New Roman"
    }
   </style>
</head>
  <body>
    <div class="container">
        <div class="row">
            <div class="col-lg-8  offset-lg-2">
                <h3 class="heading"><center> ATTENDANCE TRACKING SYSTEM</center></h3>
                <img src="{{'video_feed' }}" width="100%">
            </div>
        </div>
    </div>
    </body>

</html>
