<!DOCTYPE html>
<html>
<head>
<style>
    body{
      background-color: rgb(54, 50, 50);
      background-size: cover;
    }
    .heading{
      font-style:italic;
      font-weight:bold;
      font-family: "Times New Roman";
      background-color: rgb(247, 238, 238);
    }
    
   </style>
   </head>
<body>

    <div class="container">
        <div class="row">
            <div class="col-lg-8  offset-lg-2">
                <h1 class="heading"><center> MARK YOUR ATTENDANCE</center></h1>
                <img src="{{'video_feed' }}" width="100%">
            </div>
        </div>
    </div>
    </body>

</html>
